<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750636343858-kev1gbnfovu771ri9hqlh33kuh6reqcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750636343858-kev1gbnfovu771ri9hqlh33kuh6reqcg</string>
	<key>API_KEY</key>
	<string>AIzaSyAkafWtgHHisoqURUyyYDW9Oj3gBSUaefQ</string>
	<key>GCM_SENDER_ID</key>
	<string>750636343858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.cs342.2023.paws</string>
	<key>PROJECT_ID</key>
	<string>cs342-2023-paws</string>
	<key>STORAGE_BUCKET</key>
	<string>cs342-2023-paws.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750636343858:ios:2d29a3cdbe7e71868e122b</string>
</dict>
</plist>